:root {
  --dark_background: #363A3F;
  --light_background: #E9ECEF;
} 


html, body {
  background-color: var(--dark_background);
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.text-end {
  text-align: end;
}