.askandsearch-panel {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 20px;
}

.subtitles {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1%;
}

.width-full {
    width: 100%;
}

.ask-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 2%;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #FFFFFF00;
}

.post-card{
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background-color: #141e29;
    overflow: auto;
}

.post-content {
    height: 15vh;
    margin-bottom: 2%;
    overflow: auto;
}

.post-user {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2%;
    height: 25%;
}

.bold {
    font-weight: bold;
}

.like-btn {
    all: unset;
}