/* General styles for the main container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 94vw;
    /* background-color: #f5f5f5; */
}
.main-div {
    display: flex;
    justify-content: space-between;
    height: 94vh; /* Full height */
    width: 94vw;
    /* background-color: rgb(48, 130, 202); */
}

/* Div2 style */
.sidebar-div {
    top: 5%;
    width: 30%; 
    height: 100%; 
    align-items: center;
    padding: 30px;
    margin-right: auto; 
    /* background-color: blanchedalmond; */
}

/* Div3 style */
.panels-div {
    width: 100%; 
    height: 90%; 
    overflow: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    text-align: left;
}

.div-padding {
    padding-left: 50px; 
    padding-right: 50px; 
}

/* Custom scrollbar, example gotten from https://www.w3schools.com/HOWTO/howto_css_custom_scrollbar.asp */ 
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eaedf06b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5; 
}