grafana:
  namespaceOverride: monitoring
  operator:
    enabled: true
    scanAllNamespaces: true
    prometheus:
      serviceMonitor:
        enabled: true
  grafana:
    enabled: true
    dashboardLabelSelectors:
      - matchLabels:
          app: grafana
    persistence:
      enabled: true
      size: 5Gi
    securityContext:  # Adding security context here
      runAsUser: 1000  # Replace with the appropriate user ID
      runAsGroup: 1000  # Replace with the appropriate group ID
      fsGroup: 1000  # Set the filesystem group ID
prometheus:
  namespaceOverride: monitoring
  prometheus:
    retention: 2d
    persistence:
      enabled: true
      size: 5Gi
  alertmanager:
    persistence:
      enabled: true
      size: 5Gi
